package ${package}.dao;

import ${package}.entity.${className};
import io.fhao.modules.sys.dao.BaseDao;
import org.apache.ibatis.annotations.Mapper;

@Mapper
public interface ${className}Dao extends BaseDao<${className}> {
	
}
